.row__posterRow{
    display:flex;
    overflow-y: hidden;
    overflow-x : scroll;
}
.row__poster{
    width:100%;
    object-fit: contain;
    max-height:100px;
    transition: transform 450ms;
    margin-right:10px;
}
.row__poster:hover{
    transform: scale(1.08);
    
}